<div class="col-4">
    <div class="card">
        <div class="row">
            <div class="card-title">
                <img src="" class="rounded" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span>Paris</span>
            </div>
            <div class="col-4 align-self-center">
                =========================
            </div>
            <div class="col-4">
                <span>NICE</span>
            </div>
        </div>
    </div>
</div>