.card{
  width: 100%;
  background: #B1D0E0;
  color: #023144;
  border: none;
  text-transform: uppercase;
}
mat-icon{
  vertical-align: bottom;
  margin-right: 4px;
}
.section1-col-4{
  display: table;
  padding: 4px;
  text-align: end;
}
.section1-col-4 .div-cont{
  display: table-cell;
  vertical-align: middle;
}
.section1-col-8{
  text-align: start;
  padding: 4px;
}
hr{
  margin: 4px 16px;
}
button{
  margin: 10px;
  background-color: aliceblue;
  color: #023144;
  font-size: large;
  padding: 4px;
  border: none;
  border-radius: 4px;
}
button:hover{
  background-color: #023144;
  color: white;
}
.section2-col-4{
  text-align: center;
}
.section2-col-4 .div-cont{
  padding: 0 ;
}
.div-cont small{
  color: dimgrey;
  font-weight: bold;
}
.div-cont p{
  font-weight: bold;
  font-size: larger;
}
