<!-- <div>
    <div class="row m-0" style="border-radius: 30px;">
        <div class="col-3"
            style="background-color: aqua; width: 30%; height: 200px; border-radius: 30px; border-right: 3px black dashed;">
            <div class="text-center"
                style="width: 80px; height: 80px; background-color: black; border-radius: 50%; display: table;">
                <span class="material-icons" style="display: table-cell; vertical-align: middle;">
                    account_circle
                </span>
            </div>
            
        </div>
        <div class="col-9"
            style="background-color: orange;  width: 55%; height: 200px; border-radius: 30px;border-left: 3px black dashed;">
            <div class="row p-2">
                <div class="col-12" >
                    <div class="education_time">
                        <span class="education_rounder"></span>
                        <span class="education_line"></span>
                        <span class="education_rounder"></span>
                    </div>
                    <div>

                    </div>
                </div>
                <div class="col-12" style="background-color: pink;">

                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="card fl-left mt-5">
    <section class="date">
        <time datetime="23th feb">
            <span>23</span><span>feb</span>
        </time>
    </section>
    <section class="card-cont">
        <small>dj khaled</small>
        <h3>live in sydney</h3>
        <div class="even-date">
            <i class="fa fa-calendar"></i>
            <time>
                <span>wednesday 28 december 2014</span>
                <span>08:55pm to 12:00 am</span>
            </time>
        </div>
        <div class="even-info">
            <i class="fa fa-map-marker"></i>
            <p>
                nexen square for people australia, sydney
            </p>
        </div>
        <a href="#">tickets</a>
    </section>
</div>