<mat-tab-group>
  <mat-tab label="Conducteurs approuves ✔">
    <ng-template matTabContent>
      <app-users-table [data_type]="data_type_ca"></app-users-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Passagers 👦">
    <ng-template matTabContent>
      <app-users-table [data_type]="data_type_p"></app-users-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Nouveaux Conducteurs ✖">
    <ng-template matTabContent>
      <app-users-table [data_type]="data_type_cna"></app-users-table>
    </ng-template>
  </mat-tab>
</mat-tab-group>
