<h1>{{"Se Connecter"}}</h1>
<form style="text-align: center;">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="text" class="form-control" #username id="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" #password id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary w-100" (click)="onLogin(username.value,password.value)" >Submit</button>
    <br/>
    <small>{{ "Si vous n'avez pas un compte, "}}<a href="" routerLink="/auth/register"> {{"INSCRIVEZ-VOUS"}} </a></small>
  </div>
</form>

