<div class="col-lg-6 col-md-6 col-xs-12 align-self-center" id="form">
    <h1>{{"S'inscrire"}}</h1>
    <form style="text-align: center;">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="birthday">Birth Day</label>
            <input type="date" class="form-control" id="birthday" placeholder="Enter birthday">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="confpassword">Confirm Password</label>
            <input type="password" class="form-control" id="confpassword" placeholder="Password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary w-100">Submit</button>
            <br/>
            <small>{{"Vous avez déja un compte, "}}<a href=""> {{"CONNECTEZ-VOUS"}} </a></small>
        </div>
    </form>
</div>
