<footer class="navbar-fixed-bottom mb-0 " style="bottom:0;position:absolute;width:100%">
  <div class="box">
            <span>
                <ul>
                    <li><a href="#"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-stack-overflow" aria-hidden="true"></i></a></li>
                </ul>
            </span>
  </div>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-4 col-sm-4" style="text-align:center">
        <span class=" h5 color-blanc">
          Projets fin d'année (Spring boot-Angular)
        </span>
        <img src="assets/emsi-.png" style="width:250px;height:80px;" />
      </div>
    </div>
  </div>
  <span id="ftext">&copy; All rights reserved (Beta version by KEHEL and FROUKH)</span>
</footer>
