#login{
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 3px 3px;
  width: 50%;
}
#form{
  line-height: 200%;
  padding: 10px;
}
.loader-container{
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: black;
  opacity: 0.8;
  z-index: 99;
}
@media only screen and (max-width: 768px) {
  #form{
    width: 80%;
  }
  #login{
    width: 80%;
  }
}
